.jumbotron h1 {
    text-align: center;
}
moje-zlecenia {
    display:block;
}
ocena-zlecenia {
    display:block;
}
strefa-zlecenia {
    display:block;
}
zlozenie-zlecenia {
    display:block;
}
#opis {
    resize: none;
    overflow-y: auto;
}
#rating span {
    font-size: 60px;
    cursor: pointer;
}

#rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
#rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
#rating > span:hover,
#rating > span:hover ~ span {
    color: transparent;
}
#rating > span:hover:before,
#rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}
.cancel {
    cursor: pointer;
}
.nav > li {
    cursor: pointer;
}